<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/hack.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles/standard.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/styles/main.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div>
        <div>
          <header>

            <div>
              <h1><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p>{{ site.description }}</p>
            </div>

            <nav>
              <a href="{{ site.baseurl }}/">Blog</a>
              <a href="{{ site.baseurl }}/about">About</a>
            </nav>
          </header>
        </div>
      </div>

      <div id="main" role="main" class="container">
        {{ content }}
      </div>

      <div>
        <div class="container">
          <footer class="footer">
          </footer>
        </div>
      </div>

    </div>
    <br>
    <br>
  </body>
</html>
